
body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 30px;
}


.form-container {
    background: #fff;
    width: 450px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}


h1 {
    text-align: center;
    color: #333;
}


label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
}

/* Text input + select */
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    transform: scale(1.2);
}

.option-group {
    margin-top: 8px;
    margin-left: 5px;
}


button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #4CAF50;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}